@import 'colors';

input[type=radio], input[type=checkbox] { cursor: pointer }

.block-btn {
    width: 100%;
}

.btn {
    transition: 0.2s;
    border: solid 2px;
    border-radius: 8px;
    padding: 15px;
    font-weight: bolder;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.round{ border-radius: 999px; }
    &:not(.disabled){ cursor: pointer }
    &.loading{
        font-size: larger;
        svg{
            animation-name: rotate;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
    @include color-types;
    .block-btn {
        width: 100%;
    }
    @include tool-tip;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}