$primary-color: rgb(69, 0, 133);
$primary-color-l: rgb(96, 116, 228);
$danger-color: rgb(255, 64, 64);
$danger-color-l: rgb(255, 143, 143);
$mistery-color: rgb(206, 0, 206);
$mistery-color-l: rgb(212, 109, 212);
$info-color: rgb(10, 157, 255);
$info-color-l: rgb(116, 176, 255);
$success-color: rgb(52, 182, 0);
$success-color-l: rgb(133, 194, 105);
$warning-color: yellow;
$warning-color-l: rgb(255, 255, 126);
$light-color: rgb(255, 244, 227);
$light-color-l: white;
$secondary-color: rgb(199, 199, 199);
$secondary-color-l: rgb(226, 226, 226);
$dark-color: black;
$dark-color-l: rgb(48, 48, 48);

@mixin color-type($color1:$primary-color, $color2:$primary-color-l, $font-color:$light-color) {
    background-color: $color1;
    color: $font-color;
    border-color: $color1;
    &.disabled{
        background-color: $color2;
        border-color: $color2;
    }
    &.outline {
        background-color: transparent;
        color: $color1;
        &.disabled{
            border-color: $color2;
            color: $color2;
        }
    }
    
    &:hover {
        &.btn:not(.disabled) {
            background-color: $color2;
            border-color: $color1;
            &.outline {
                background-color: $color1;
                color: $font-color;
                border-color: $color2;
            }
        }
    }
    
}

@mixin color-types {
    &.primary { @include color-type($primary-color, $primary-color-l) }
    &.danger { @include color-type($danger-color, $danger-color-l) }
    &.mistery { @include color-type($mistery-color, $mistery-color-l) }
    &.info { @include color-type($info-color, $info-color-l) }
    &.success { @include color-type($success-color, $success-color-l) }
    &.warning { @include color-type($warning-color, $warning-color-l, $dark-color) }
    &.light { @include color-type($light-color, $light-color-l, $dark-color) }
    &.dark { @include color-type($dark-color, $dark-color-l) }
    &.secondary { @include color-type($secondary-color, $secondary-color-l, $dark-color) }
}

@mixin tool-tip {
        .toolTip {
            visibility: hidden;
            background-color: $dark-color-l;
            color: $light-color;
            text-align: center;
            font-size: smaller;
            padding: 5px 5px;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            margin-top: 80px;
            transition-delay: 1s;
        }
        &:hover {
            .toolTip {
                visibility: visible;
                opacity: 1;
            }
        }
}