@import 'colors';

.login-form {
    border: solid 1px $primary-color;
    .form-title {
        font-weight: 900;
        font-size: x-large;
        color: $dark-color-l;
    }
    width: 20rem;
    padding: 1.6rem;
    color: $dark-color-l;
    background-color: $light-color-l;
}

.home-container {
    display: grid;
    padding: 0px;
    margin: 0px;

    section {
        padding: 0px 100px;

        &.login-top {
            //border-bottom: solid 20px $primary-color;
            background-image: linear-gradient($primary-color 100%, $primary-color-l) ;
            //background-image: url(../imgs/fondo-home.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 10px 5px 50px 5px;
            justify-content: center;
            display: grid;
        }

        &.login-bottom {
            display: flex;
            background-color: $light-color-l;
            align-items: center;
            padding: 5vh 5vh;
            color: $dark-color-l;
            img {
                width: 50vh;
                height: 50vh;
            }

        }
    }
}

.body-container {
    height: 100%;
    transition: 0.2s;

    &.spaced {
        margin-left: 50px;
    }
}