@import "colors";

.login-form {
    border: solid 1px $primary-color;

    .form-title {
        font-weight: 900;
        font-size: x-large;
        color: $dark-color-l;
    }

    width: 20rem;
    padding: 1.6rem;
    color: $dark-color-l;
    background-color: $light-color-l;
}

.home-container {
    width: 100vw;
    padding: 0px;
    margin: 0px;

    .login-background {
        height: 0;
        position: absolute;
        width: 100vw;
        bottom: 0;
        background-color: white;
    }

    section {
        padding: 0px 100px;
        &.login-top {
            background-image: linear-gradient($primary-color, $primary-color);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 10px 5px 50px 5px;
            justify-content: center;
            display: grid;
        }
    }

}

.body-container {
    min-height: 100%;
    transition: 0.2s;

    &.spaced {
        margin-left: 50px;
    }
}