@import 'colors';

.route-container {
    padding: 50px;
    width: 100%;
    background-color: $secondary-color-l;

    .module-title {
        font-size: large;
        padding-bottom: 10px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 2px $dark-color-l;
        .module__query {
           display: flex;
           align-items: center;
           justify-content: center;
        }
    }
}