@import 'colors';

input[type=radio] { cursor: pointer }

.block-btn {
    width: 100%;
}

.btn {
    transition: 0.2s;
    border: solid 2px;
    border-radius: 8px;
    padding: 15px;
    font-weight: bolder;
    margin: 5px;
    &:not(.disabled){ cursor: pointer }
    @include color-types;
    .block-btn {
        width: 100%;
    }
}

.loadIcon{
    animation: 3s rotate linear infinite;
    height: 20px;
    width: 20px;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}