@import 'colors';

.footer{
    height: 100px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    @include color-type($dark-color,$danger-color-l);
}