@import 'colors';

.nav{
    padding: 0px 20px;
    @include color-types;
    .navbar{
        height: 100px;
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .iconPage{
            img{
                margin-right: 20px;
                width: 50px;
                height: 50px;
                filter: invert(100%) sepia(20%) saturate(0%) hue-rotate(359deg) brightness(109%) contrast(101%);
            }
            cursor: pointer;
            display: flex;
            align-items: center;
            font-size: large;
            font-weight: bold;
            font-style: normal;
            height: 100%;
            transition: 0.1s;
            padding: 0px 15px;
        }
        .userIcon{
            @include tool-tip;
            .notifications {
                background-color: $danger-color;
                border-radius: 100px;
                display: flex;
                width: 15px;
                height: 15px;
                padding: 5px;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 15px;
                right: 15px;
                color: $light-color;
            }
            img{
                width: 50px;
                height: 50px;
                border-radius: 999px;
                border: solid 2px $secondary-color;
                cursor: pointer;
            }
            &:hover{
                img{
                    border-color: $secondary-color-l;
                }
            }
            &.active{
                img{
                    border-color: $light-color-l;
                }
            }
            
        }
        .userMenu{
            visibility: hidden;
            position: absolute;
            border-radius: 7px;
            width: 200px;
            right: 10px;
            top: 90px;
            padding-top: 20px;
            display: grid;
            justify-content: center;
            text-align: center;
            background-color: $secondary-color;
            .avatar {
                border-radius: 90px;
                img{
                    border-radius: 120px;
                    height: 150px;
                    width: 150px;
                }
            }
            .nombre{
                font-weight: bolder;
                color: $dark-color;
            }  
            .cargo{
                color: $dark-color-l;
            }
            .userMenulist{
                padding: 0px;
                list-style: none;
                .btn{
                    transition: 0s;
                }
            }
        }
    }
}