@import 'colors';

.sidebar{
    width: 200px;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: $light-color-l;
    padding: 30px;

    top: 0px;
    position: fixed;
    margin-left: -260px;
    z-index: 10;
    
    transition: 0.2s;
    .user{
        height: 240px;
        width: 200px;
        display: grid;
        justify-content: center;
        text-align: center;
        .avatar {
            border-radius: 90px;
            img{
                border-radius: 120px;
                height: 200px;
                width: 200px;
            }
        }
        .nombre{
            font-weight: bolder;
        }  
        .cargo{
            color: $dark-color-l;
        }
    }
    ul{
        list-style: none;
        padding: 10px;
        margin-bottom: 100px;
        li{
            button, input{
                border-radius: 0px;
            }
        }
    }
    &::before{
        position: absolute;
        left: 100%;
        background-color: $dark-color-l;
        width: 50px;
        height: 100%;
        cursor: context-menu;
        content: '';
        transition: 0.1s;
    }
    &::after{
        position: absolute;
        left: 100%;
        top: 0px;
        background-color: $primary-color-l;
        width: 50px;
        height: 100px;
        align-items: center;
        display: flex;
        justify-content: center;
        content: url(../imgs/icons/right-arrow.png);
        transition: 0.1s;
    }
    
    &:hover{
        margin-left: 0px;
        &::before{
            width: 20px;
        }
        &::after{
            transform: scaleX(-1);
        }
    }
}